@import url("https://fonts.googleapis.com/css?family=ZCOOL+QingKe+HuangYou");

.TechPlanetContainer {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
  z-index: 2;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

.TechPlanet {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background-color: #1a2541;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  overflow: hidden;
  z-index: 2;
  box-shadow: inset -30px 0 rgba(0, 0, 50, 0.2),
    0 0 0 10px rgba(183, 166, 255, 0.4), 0 0 0 15px rgba(183, 166, 255, 0.2),
    0 0 0 18px rgba(183, 166, 255, 0.1), 0 0 0 30px rgba(179, 166, 255, 0.1),
    0 0 0 35px rgba(106, 98, 182, 0.15), 0 0 0 50px rgba(96, 81, 161, 0.2),
    0 0 0 120px rgba(73, 62, 134, 0.2), 0 0 0 240px rgba(58, 49, 112, 0.1),
    0 0 0 500px rgba(58, 49, 112, 0.025);
}

.TechPlanet:before {
  content: "";
  position: absolute;
  background: #131324; /* #772717 #d8503a */
  height: 30px;
  width: 75px;
  left: 0;
  top: 50px;
  display: block;
  border-radius: 40px;
  -webkit-animation: rotateElement linear 25s infinite;
  animation: rotateElement liner 25s infinite;
  box-shadow: 70px 75px 0 -5px #131324, 5px 35px 0 -3px #131324,
    35px 125px 0 -9px #131324, 120px -15px 0 -7px #131324,
    135px -55px 0 -9px #131324, 150px 25px 0 7px #131324,
    220px 70px 0 -2px #131324, 235px -35px 0 -3px #131324,
    280px 85px 0 3px #131324, 320px 30px 0 1px #131324, 400px 0 0 0 #131324,
    470px 75px 0 -5px #131324, 405px 35px 0 -3px #131324,
    435px 125px 0 -9px #131324, 520px -15px 0 -7px #131324,
    535px -55px 0 -9px #131324, 550px 25px 0 7px #131324,
    620px 70px 0 -2px #131324, 635px -35px 0 -3px #131324,
    680px 85px 0 3px #131324, 720px 30px 0 1px #131324;
}

.TechPlanetShadow {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  position: absolute;
  background-color: transparent;
  z-index: 4;
  box-shadow: inset -30px 0 rgba(0, 0, 0, 0.1);
}

@-webkit-keyframes rotateElement {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(-400px, 0);
    transform: translate(-400px, 0);
  }
}
@keyframes rotateElement {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(-400px, 0);
    transform: translate(-400px, 0);
  }
}

.TechPlanetHead {
  position: absolute;
  color: white;
  z-index: 10;
  text-align: center;
  font-family: "ZCOOL QingKe HuangYou", cursive;
  width: 100%;
  top: 55%;
  transform: -50% -50%;
}

.TechPlanetHead h1 {
  font-size: 50px;
}
