@import url("https://fonts.googleapis.com/css?family=ZCOOL+QingKe+HuangYou");

#hamburger {
  position: absolute;
  right: 0;
  z-index: 500;
}

.ham-menu {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  z-index: 9999;
}

.ham-menu a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.ham-menu a:hover {
  color: #f1f1f1;
}

.ham-menu .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .ham-menu {
    padding-top: 15px;
    width: 100%;
  }
  .ham-menu a {
    font-size: 18px;
  }
}
body {
  background-color: black;
  font-family: "ZCOOL QingKe HuangYou", cursive;
  color: white;
  overscroll-behavior-y: contain;
}
div {
  outline: none !important ;
}
#toggle {
  max-height: 30px;
  cursor: pointer;
  margin-right: 30px;
  margin-top: 20px;
  transition: all 0.7s ease-in-out;
}
#toggle:hover {
  -webkit-animation-name: spin;
  -webkit-animation-duration: 500ms;
  -moz-animation-name: spin;
  -moz-animation-duration: 500ms;
  -ms-animation-name: spin;
  -ms-animation-duration: 500ms;

  animation-name: spin;
  animation-duration: 500ms;
}
@-ms-keyframes spin {
  from {
    -ms-transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
  }
}
@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#ham a {
  color: white;
}
