.nav-text,
.nav-number,
.bar {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  margin-top: 40px;
}
#number0 {
  margin-left: 4px;
}

#nav {
  position: fixed;
  top: 30%;
  z-index: 5;
  left: 10%;
}
span {
  margin-right: 30px;
}
.nav-item {
  display: flex;
  align-items: center;
  height: 60px;
}
.active {
  font-size: large;
  font-weight: 800;
}
.mobile {
  display: none;
}
.bar {
  background-color: white;
  box-sizing: border-box;
  height: 100%;
  border-radius: 5px;
}
.active > .bar {
  width: 10px;
  margin-left: -6px;
  transition: ease-in-out 0s;
}
